{% extends 'base.html' %}

{% block title %}Read Local - My Django App{% endblock %}

{% block content %}

<head>
    <title>Landing Page</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'main.css' %}">
</head>
<body>
    <header>
        <h1>Welcome to CV filter Demo Website</h1>
    </header>

    <section>
        <p>Here should show text</p>

        <!-- <button href="{% url 'readLocal' %}">Link to CV Review</button> -->
        <!-- <button type="button" onclick="location.href='{% url 'readLocal' %}'">Link to CV Review</button> -->

    </section>
</body>
{% endblock %}
